// Base Colors
$base-font-color: #3a3a3a;
$heading-font-color:  #F4846E;      // @CHANGE
$subheading-font-color: $grey;

$highlighter-font-color: #609beb;
$link-color: #F4846E;
$masthead-font-color: #F4846E;
$sidebar-color: #F4846E;
